*.bz2
*.la
*.lo
*.o
*.swp
*~
.deps/
.libs/
/.vscode
/build-combinations.log*
/nbproject
INSTALL
Makefile
Makefile.in*
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/POTFILES
po/stamp-it
po/.intltool-merge-cache*
src/xfce4-sensors.1
stamp-h1
xfce4-sensors-plugin.desktop
xfce4-sensors-plugin.spec
