.deps
.libs
*.lo
*.la
*.o
aclocal.m4
compile
config.*
configure
configure.ac
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
xfce4-sensors-plugin.spec

autom4te.cache/
lib/libxfce4sensors-1.0.pc
m4/
panel-plugin/xfce4-sensors-plugin.desktop
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
src/xfce4-sensors
src/xfce4-sensors.1
src/xfce4-sensors.desktop
