[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Sensor plugin
Name[de]=Sensorerweiterung
Comment=Show sensor values.
Comment[ar]=إظهار قيم المجس.
Comment[ast]=Amosar valores de sensores.
Comment[bg]=Покажи показанията на сензора.
Comment[cs]=Zobrazuje hodnoty senzorů
Comment[de]=Sensorwerte erkannter Sensoren überwachen.
Comment[el]=Εμφάνιση τιμών αισθητήρα.
Comment[en_AU]=Show sensor values.
Comment[en_GB]=Show sensor values.
Comment[es]=Mostrar valores de sensores.
Comment[eu]=Sentsore balioak bistarazi.
Comment[fi]=Näyttää laiteanturien arvot
Comment[fr]=Afficher les valeurs du capteur.
Comment[gl]=Mostrar os valores do sensor.
Comment[he]=הצג ערכי חיישן.
Comment[hu]=Érzékelőértékek megjelenítése
Comment[id]=Tampilkan nilai sensor.
Comment[is]=Sýna gildi skynjara.
Comment[it]=Mostra i valori di un sensore
Comment[ja]=センサーの値を表示します。
Comment[ko]=센서 값을 보여줍니다.
Comment[lv]=Rādīt sensora vērtības.
Comment[ms]=Tunjuk nilai penderia.
Comment[nb]=Vis sensorverdier.
Comment[nl]=Toon sensorwaarden.
Comment[pl]=Wyświetla wskazania czujników sprzętowych
Comment[pt]=Mostrar valores de sensor.
Comment[pt_BR]=Mostrar valores do sensor.
Comment[ru]=Отображение показаний датчиков
Comment[sk]=Zobrazuje hodnoty senzorov
Comment[sq]=Shfaq vlera ndijuesish.
Comment[sr]=Прикажи вредности пријемника.
Comment[sv]=Visa sensorsvärden.
Comment[th]=แสดงค่าต่างๆ ของเซนเซอร์
Comment[tr]=Algılayıcı değerlerini gösterir.
Comment[ug]=سەزگۈچنىڭ قىممىتىنى كۆرسىتىدۇ.
Comment[uk]=Показувати значення сенсорів.
Comment[ur]=سینسر ویلیو دکھائیں:
Comment[ur_PK]=سینسر ویلیو دکھائیں:
Comment[zh_CN]=显示传感器值。
Comment[zh_TW]=顯示感測器數值。
Icon=xfce-sensors
X-XFCE-Internal=FALSE
X-XFCE-Module=xfce4-sensors-plugin
X-XFCE-API=2.0
