levelbar block {
    min-height : 0px;
    min-width : 0px;
    border: 0px none;
    margin: 0px;
    padding: 0px;
}

levelbar block.full {
   background-color: #F00000;
}

levelbar block.high {
   background-color: #F0F000;
}

levelbar block.warn-low {
   background-color: #F0F000;
}

levelbar block.low {
   background-color: #F00000;
}
